# Dependencies
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log

# Build artifacts
build
dist
.next
out

# Environment variables
.env.dev
.env.staging
.env.prod

# Git and version control
.git
.gitignore
.gitlab-ci.yml
.github

# Editor and IDE files
.idea
.vscode
*.swp
*.swo
.DS_Store

# Test files
coverage
.nyc_output
__tests__
__mocks__

# Docker files
Dockerfile*
docker-compose*
.dockerignore

# Logs
logs
*.log

# Temporary files
.tmp
.temp
